.cOrderList {
     padding: 14rem 0 5rem 0;
     background: url('../../assets/images/circleLinear.png') no-repeat;
     background-size: 150px;
     background-position: 40% 35%;
}

.cOrderListContent {
     padding: 7rem 0;
     background-color: #0F70B7;
     margin-bottom: 5rem;
}