.cTestimonies {
     padding-top: 14rem;
     background: url('../../assets/images/circleLinear.png') no-repeat;
     background-size: 150px;
     background-position: 40% 35%;
}

.cTestimoniesContent {
     padding: 5rem 0 12rem 0;
}

.cTestimoniesWrapper {
     background-color: #0F70B7;
     border-radius: 20px;
     border: none;
     padding: 1rem 0.5rem;
}

.cTestimoniesHeader {
     border-radius: 10px;
}