.cChatHeader {
     padding: 10rem 0 2rem 0;
     background: url('../../assets/images/circleLinear.png') no-repeat;
     background-size: 150px;
     background-position: 40% 60%;
}

.cChatContent {
     padding: 2rem 0 7rem 0;
     margin-bottom: 5rem;
}