.cDesignerListHeader {
     padding: 10rem 0 3rem 0;
     background: url('../../assets/images/circleLinear.png') no-repeat;
     background-size: 150px;
     background-position: 40% 60%;
}

.cDesignerListContent {
     padding: 4rem 0 7rem 0;
     background-color: #0F70B7;
     margin-bottom: 5rem;
}