.cServiceDetailHeader {
     display: flex;
     align-items: center;
     min-height: 85vh;
     background-color: #0F70B7;
}

.cServiceDetailPackage {
     padding: 7rem 0 0 0;
     background: url('../../assets/images/circleLinear.png') no-repeat;
     background-size: 150px;
     background-position: 30% 15%;
}

.cCardPackage {
     border-radius: 20px;
     box-shadow: 10px 10px 5px rgba(136, 136, 136, 0.25);
}

.cCardPackageHeader {
     border-radius: 20px 20px 0 0;
     padding: 1rem 0;
}

.cPortfolioService {
     padding: 7rem 0;
     background: url('../../assets/images/circleLinear.png') no-repeat;
     background-size: 150px;
     background-position: 30% 15%;
}

.cOrderToCart {
     padding: 2rem 0 10rem 0;
}