.cOrderDetailHeader {
     padding: 10rem 0 3rem 0;
     background: url('../../assets/images/circleLinear.png') no-repeat;
     background-size: 150px;
     background-position: 40% 60%;
}

.cOrderDetailContent {
     padding: 4rem 0;
     background-color: #0F70B7;
}

.cOrderHeaderHeader {
     height: 250px;
     background-color: #0F70B7;
     margin-top: 4rem;
}

.cOrderHeaderContent {
     margin-top: -10rem;
     margin-bottom: 14rem;
}